<div class="footer-content">
  <div class="copyright-content">
    <div class="container">
      <div class="copyright-text text-center">&copy; Copyright 2019 -David Chen All Right Reserved.
                                              <img src="/images/印章.png" alt="BDFD" style="width:40px;height:40px;">
                                              Title: David Leetcode Solution System.  
                                              Author: David Chen.  
                                              Hint : Check the console.log for solution F12
      </div>
    </div>
  </div>
</div>