<head>
  <style>
        button {
            border: 1px solid #ccc;
        }
  </style>
  <script src="/javascripts/demo/question13.js"></script>
</head>
<hr>
Input Only One Number: <input type="number" placeholder="Input Your Lucky Num." ondrop="return false" onpaste="return false" id="input"><br><br>
<button id="submit">Submit</button><br><br>

You Input No. Show Here: <div class="div1"id="demo1" style="border:1px solid black"></div>
Answer Will Be Show Here: <div class="div1"id="demo2" style="border:1px solid black"></div>
<br><hr>
  <%-include('_Demo_description_Form')%>
